$color-tip: #ff0000;
$color-black: #000000;
$color-white: #ffffff;

$color-login-title: #87bfff;
$color-login-border: #dcdcdc;
$color-login-prefix-bg: #d8d8d8;

$color-layout-border: #e9eaec;
$color-right-side-bar: #f0f3fa;
$color-change-password-btn: #87bfff;

$color-text-01: #333333;
$color-text-02: #808080;
$color-text-03: #262626;
$color-text-04: #4d4d4d;
$color-text-05: #cccccc;
$color-text-active-01: #36cfc9;

$dark-bg: #333333;
$menu-active: #36cfc9;
$btn-primary: #039090;
$btn-primary-hover: #19a8ad;
$btn-default: #cccccc;
$btn-default-hover: #bbbbbb;

$bg-content-01: #333333;
$bg-content-02: #262626;
$bg-label: #4d4d4d;
$bg-table-thead-01: #40404d;
$bg-selected: #4d4d5a;
$bg-tr-active: #00474f;
